<?= $this->doctype(); ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<?= $this->headTitle('User Demo')->setSeparator(' - ')->setAutoEscape(false); ?>
		<?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>
		<!-- Le styles -->
		<?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
						->prependStylesheet($this->basePath('css/style.css'))
						->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
						->prependStylesheet($this->basePath('css/bootstrap.min.css'));
		?>
		<!-- Scripts -->
		<?= $this->headScript()
			->prependFile($this->basePath('js/bootstrap.min.js'))
			->prependFile($this->basePath('js/jquery-2.2.4.min.js'));
		?>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!-- Page header -->
				<div class="col-md-4">
					<div class="app-caption">User Demo</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- Navigation bar -->
					<?php if (isset($activeMenuItemId)) $this->mainMenu()->setActiveItemId($activeMenuItemId); ?>
					<!-- Render the navbar -->
					<?= $this->mainMenu()->render(); ?>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- Breadcrumbs -->
					<?= $this->pageBreadcrumbs()->render(); ?>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- Page content placeholder -->
					<?= $this->content; ?>
				</div>
			</div>
			<hr>
			<footer>
				<p>&copy; 2005 - <?= date('Y') ?> by Your Company. All rights reserved.</p>
			</footer>
		</div>
		<?= $this->inlineScript(); ?>
	</body>
</html>
