<?php $this->headTitle('About'); ?>

<?php $this->mainMenu()->setActiveItemId('about'); ?>

<?php $this->pageBreadcrumbs()->setItems([ 'Home'=>$this->url('home'), 'About'=>$this->url('about'), ]); ?>

<h1>About</h1>

<p>
	Application name: <?= $this->escapeHtml($appName) ?>
</p>

<p>
	Application description: <?= $this->escapeHtml($appDescription) ?>
</p>
