<?php $this->headTitle('Settings'); ?>

<?php $this->mainMenu()->setActiveItemId('settings'); ?>

<?php $this->pageBreadcrumbs()->setItems([ 'Home'=>$this->url('home'), 'Settings'=>$this->url('application', ['action'=>'settings']), ]); ?>

<h2>Settings</h2>

<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			 <tr>
				<th>ID:</th>
				<td><?= $this->escapeHtml($user->getId()); ?></td>
			</tr>
			<tr>
				<th>E-mail:</th>
				<td><?= $this->escapeHtml($user->getEmail()); ?></td>
			</tr>
			<tr>
				<th>Full Name:</th>
				<td><?= $this->escapeHtml($user->getFullName()); ?></td>
			</tr>
			<tr>
				<th>Date Created:</th>
				<td><?= $this->escapeHtml($user->getDateCreated()); ?></td>
			</tr>
		</table>
	</div>
</div>
